@media screen and (max-width: 814px) {
    #menu-list-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        top: -50%;
        left: 0;
        background-color: rgb(0, 0, 0);
        text-align: center;
        transition: 0.5s;
    }

    #menu-list {
        display: none;
    }

    #button-mobile {
        display: block;
    }

    .logo {
        background-color: black;
        width: 100%;
        padding-top: 13px;
        padding-bottom: 12px;
    }

    .header-main {
        justify-content: space-between;
        padding: 14px;
    }

    .section-one-text {
        width: 400px;
    }

    .section-one-img {
        margin-top: 30px;
    }

    .section-one-button {
        left: 28%;
    }

    .nav-menu-item:hover {
        background: none;
        color: #72b5e8;
    }

    .section-one-img {
        width: 450px;
    }
    
    .section-one-tittle {
        font-size: 40px;
    }
    
    .section-one-text {
        width: 350px;
    }

    .section-one-button {
         left: 24%;
    }

    .section-four-videos {
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 20px;
        width: 50vw;
        min-width: 340px;
        height: 192px;
    }
}

@media screen and (max-width: 440px) {
    .section-four-videos {
        width: 100%;
        min-width: 250px;
        height: 43vw;
    }

    .section-one-img {
        width: 350px;
    }
}

@media screen and (min-width: 1630px) {
    .section-two-chield {
        width: 500px;
    }

    .section-four-videos {
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 20px;
        width: 27vw;
        min-width: 400px;
        height: 15vw;
    }
}
