body {
    background-color: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo-img {
    width: 28px;
    margin-right: 7px;
    margin-left: 7px;
}

.logo-tittle {
    font-size: 25px;
    color: white;
}

.nav-menu {
    display: flex;
}

.nav-menu-item {
    color: white;
    padding: 20px;
}

.nav-menu-item:hover {
    background-color: dodgerblue;
}

.section-one  {
    background-color: rgb(255, 255, 255);
    padding: 180px 0 180px 0;
    text-align: center;
}

.section-one-text {
    font-size: 50px;
    color: black;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 10px;
}

.section-one-button {
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    color: black;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 3px solid black;
}

.section-one-button:hover {
    background-color: dodgerblue;
}

.section-one-img {
    width: 100%;
    position: relative;
    display: inline-block;
}

.section-two {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 50px;
}

.section-two-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.section-two-chield {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    width: 400px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 50px;
    border: 2px solid white;
}

.section-three {
    background-color: white;
    padding: 40px;
    text-align: center;
}

.section-three-videos {
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    width: 410px;
    height: 220px;
}

.footer-main {
    background-color: rgb(0, 0, 0);
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}