body {
    background-color: rgb(0, 0, 0);
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#logo {
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 25px;
}

#logo img {
    margin-right: 1px;
    margin-bottom: -7px;
    margin-top: 7px;
    margin-left: 7px;
}

header {
    background-color: rgb(0, 0, 0);
    margin-top: -16px;
    padding: 0.5px;
    margin-left: -8px;
    margin-right: -8px;
}

.nav-main {
    background-color: rgb(0, 0, 0);
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;

}

.nav-main ul {
    list-style: none;
    padding: 0px;
   
}

.nav-main li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-main a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.nav-main a:hover {
    background-color: dodgerblue;
}

.section-main  {

    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content:space-around;
}

.container-nav {
    display: flex;
    justify-content: end;
}

.chield {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 30%;
    border-radius: 80px;
    min-width: 250px;
    color: black;
    text-align: center;

}


header h1 {
    color: white;
}

img {
    border-radius: 15px;

}

iframe {
    border-radius: 10px;
}

#fundo-header-footer {
    background-color: white;
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 40px;
    margin-bottom: -45px;
    text-align: center;

}

#text-header {
    background-color: white;
    min-width: 450px;
    margin-left: 85px;
    text-align: left;
    display: inline;
    margin-right: 450px;

}


.img-header img {
    width: 500px;
    margin-right: 50px;
    margin-left: 400px;
}

footer {
    margin-top: 45px;
    background-color: rgb(0, 0, 0);
    padding: 80px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




